@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.ramecObal {
  width: 80%;
  padding: 40px;
  margin: auto;
}

.section1 {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section2 {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section3 {
  background-color: #003990;
  display: flex;
  justify-content: space-between;
}

.section4 {
  background-color: #A5DDF7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section5 {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section6 {
  background-color: #003990;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section7 {
  background-color: #A5DDF7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section8 {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hlavniNadpis {
  width: 70%;
  background-color: #003990;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.mainHeadline {
  color: white;
}

.popisProjektu, .prumysl {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  
}

.popisProjektu p, .prumysl p {
  color: #003990;
  font-size: 16px;
  line-height: 1.5em;
}

.ukazka {
  width: 20%;
  margin: auto;
  text-align: center;
  background-color: #11A6E9;
  color:white;
  margin-bottom: 50px;
  padding: 5px;
}

.graf {
  width: 40%
}

.roboti {
  margin: auto;
  width: 40%
}

.notebook {
  width: 80%;
  margin: auto;
}

.ukazka1 {
  width: 35%;
  margin: auto;
  background-color: #A30B37;
  opacity: 0.8;
  text-align: center;
  color: white;
  margin-top: -40px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  font-size: 12px;
  line-height: 1.5em;
}

h2 {
  margin: auto;
  color:  #003990;
  margin-top: 20px;
}

.autorky {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
}

.popisDotaznik {
  margin: auto;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.popisDotaznik p {
  color: white;
  font-size: 16px;
  line-height: 1.5em;
  width: 80%;
}

.notebook {
  margin-top: 20px;
}

.roboti {
  margin-top: -50px;
}

.graf {
  margin: 15px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  margin: auto;
  margin-bottom: 20px;
}

.castiMenu {
  margin-left: 15px;
  font-size: 15px;
  color: #003990;
  text-decoration: none;
}

.autorky button {
  background-color: #11A6E9;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 15px;
}

.ukazka a {
  text-decoration: none;
  color: white;
  font-size: 15px
}

.odkazAutor {
  text-decoration: none;
  color: white;
}